.custom-homepage-class {
  //background-image: url("/vuepress-scp-cf/bg2.jpg");
  
}

.home .hero .description {
  color : darkorange;
     
}

.features .feature h2 {
  color : darkorange;
}


.features .feature p {
  color : darkorange;
}